* {
    padding: 0;
    margin: 0;
    font-family: serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 0.2s linear;
    outline: none;
    border: none;
    text-transform: capitalize;
}

:root{
    --primary-color: #FF5733;
    --secondary-color: #DAF7A6;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    z-index: 1000;
    width: 12rem;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    background: #ceccccdc;
}

nav .navbar{
    height: 100vh;
}

nav .navbar ul{
    justify-content: flex-start;
    padding-left: 0;
    height: 100%;
    
}

nav .navbar li{
    color: rgb(118, 120, 120);
    margin-top: 20px;
    
}

nav .navbar li.logout{
    position: absolute;
    bottom: 0;
   
}

nav .navbar li a{
    text-decoration: none;
    color: rgb(35, 33, 33);
}

main{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-left: 12rem;
    width: auto;
}

.cardbox{
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
}